.dot {
  height: 25px;
  width: 25px;
  background-color: #ff4646;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 10px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.title-text {
  margin-left: 10px;
  font-weight: 800;
}

.back-button {
  float: left;
  font-size: 30px;
  margin-left: 10px;
}


.door-element-in {
  color: green !important;
  //background: rgba(0, 128, 0, 0.35);
}

.door-element-out {
  color: #077ab7 !important;
  //background: rgba(0, 128, 0, 0.35);
}


.door-element {
  margin-top: 10px;
  // padding: 10px 0;
  border: 1px solid #dadada;
  border-radius: 30px;
}

.door-text {
  font-size: 15px;

}

.door-icon {
  font-size: 40px;
}

.door-name {
  font-size: 20px !important;
  white-space: pre-wrap;
}

ion-toggle {
  --background: green;
  --background-checked: #077ab7;
}