<ion-header>
    <ion-toolbar>
        <ion-icon class="back-button" name="arrow-round-back" (click)="goBack()"></ion-icon>
        <ion-title>
            <div class="dot"></div>
            <div class="title-text">LIVE ATTENDANCE</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>

        <ion-item lines="none">
            <ion-label class="door-text" slot="start">
                <p class="door-text">DOOR NAME </p>
            </ion-label>

            <ion-label class="door-text" slot="end">
                <p class="door-text">IN/OUT</p>
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let door of doors" class="door-element" lines="none">

            <ion-label class="door-text">
                <p class="door-name"> {{ door.name }} </p>
            </ion-label>

            <ion-toggle slot="end" [(ngModel)]="door.notEnter"></ion-toggle>
        </ion-item>
    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="checkAndSave()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
