<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="dot"></div>
            <div class="title-text">LIVE ATTENDANCE</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="blue">
    <div class="room-text">
        ROOM: {{ room.name }}
    </div>

    <div class="wrapper">
        <div class="circle-outline" [style.background-color]="room.color"></div>
        <div class="circle" [style.background-color]="room.color"></div>
        <div class="text">
            <div class="current-attendance">
                {{ room.currentOccupancy }}
            </div>
            <div class="maximum-capacity">
                / {{ room.maxCapacity }}
            </div>
        </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToLogsPage()">
            <ion-icon name="people"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="goToSettingsPage()">
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
