.dot {
  height: 25px;
  width: 25px;
  background-color: #ff4646;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 10px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opacity: 100%;}
}

/*
::ng-deep body {
    background-color: #dadada1c;
}
*/

.title-text {
  margin-left: 10px;
  font-weight: 800;
}

.room-text {
  font-size: x-large;
  text-align: center;
  margin-top: 10%;
}

.circle-outline {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 100%;
  width: 100%;
  border-radius: 50%;
  display: inline-block;
  opacity: 10%;
}

.circle {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 6px 7px 10px -3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 6px 7px 10px -3px rgba(0, 0, 0, 0.50);
  box-shadow: 6px 7px 10px -3px rgba(0, 0, 0, 0.50);
  animation: pulse 3s infinite;

  padding-top: var(--diameter); /* no need to specify height, this line will maintain an aspect ratio of 1:1 if it has the same value as the width */
  width: var(--diameter);
  //opacity: var(--diameter);
  border-radius: 50%;
  display: inline-block;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.text {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin-top: 40%;
  text-align: center;

  .current-attendance {
    font-size: 100px;
  }

  .maximum-capacity {
    font-size: 30px;
  }
}
