<ion-header>
    <ion-toolbar>
        <ion-icon class="back-button" name="arrow-round-back" (click)="goBack()"></ion-icon>
        <ion-title>
            <div class="dot"></div>
            <div class="title-text">LIVE ATTENDANCE</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <!-- <ion-item-divider-->
        <ion-item *ngFor="let log of logs" class="log-element" lines="none"
                  [ngClass]="(log.validEvent == true)?((log.enterEvent == true)?'log-element-in':'log-element-out'):'log-element-invalid'">

            <ion-icon class="log-icon" slot="start" name="arrow-dropright-circle" *ngIf="log.enterEvent"
                      [ngClass]="(log.validEvent == true)?((log.enterEvent == true)?'log-element-in':'log-element-out'):'log-element-invalid'"></ion-icon>
            <ion-icon class="log-icon" slot="start" name="arrow-dropleft-circle" *ngIf="!log.enterEvent"
                      [ngClass]="(log.validEvent == true)?((log.enterEvent == true)?'log-element-in':'log-element-out'):'log-element-invalid'"></ion-icon>
            <ion-label class="log-text">
                <p class="log-text-message"
                   [ngClass]="(log.validEvent == true)?((log.enterEvent == true)?'log-element-in':'log-element-out'):'log-element-invalid'">{{ log.message }} </p>
                <p class="log-text-date"
                   [ngClass]="(log.validEvent == false)?'log-element-invalid':null"> {{log.eventDate}} </p>
            </ion-label>

        </ion-item>
    </ion-list>
</ion-content>
